<h2 mat-dialog-title>Student Forms</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="studentForm" (ngSubmit)="postdata()">

        <div class="row">


          <div class="col-6">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input formControlName="Fname" matInput placeholder="enter firstname">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error>
                  this field is manadatory
                </mat-error>
              </mat-form-field>
            </p>
          </div>

          <div class="col-6">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Last name</mat-label>
                <input formControlName="Lname" matInput placeholder="enter lastname">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error>
                  this field is manadatory
                </mat-error>
              </mat-form-field>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Contact</mat-label>
                <input formControlName="Contact" matInput placeholder="contact no">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error>
                  this field is manadatory
                </mat-error>
              </mat-form-field>
            </p>

          </div>

          <div class="col-6">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input formControlName="Email" matInput placeholder="enter Email">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error>
                  this field is manadatory
                </mat-error>
              </mat-form-field>
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-label>Genders</mat-label><br>
            <br>

            <mat-radio-group aria-label="Select an option " class="mt-5" formControlName="Gender">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
              <mat-error *ngIf="f['Gender'].hasError('required')">
                this field is manadatory
              </mat-error>
            </mat-radio-group>
          </div>

          <div class="col-6">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Roll no</mat-label>
                <input formControlName="Rollno" matInput placeholder="Enter rollno">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error>
                  this field is manadatory
                </mat-error>
              </mat-form-field>
            </p>

          </div>
        </div>


        <mat-dialog-actions align="end">
          <button mat-raised-button mat-dialog-close type="button">Cancel</button>
          <button mat-raised-button color="primary" cdkFocusInitial *ngIf="!obj">Submit</button>
          <button mat-raised-button color="accent" cdkFocusInitial type="button" *ngIf="obj"
            (click)="onUpdate()">Update</button>

        </mat-dialog-actions>

      </form>
    </div>
  </div>

</mat-dialog-content>




<!-- 

 <div class="row">
   
    <div class="col-6">
      
  
        <p>
            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput placeholder="enter firstname">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>

    </div>

    <div class="col-6">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="enter lastname">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
         
            </mat-form-field>
          </p>
          
    </div>
  </div>

  <div class="row">
    <div class="col-6">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Contact</mat-label>
              <input matInput placeholder="contact no">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
           
            </mat-form-field>
          </p>

    </div>

    <div class="col-6">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="enter Email">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
             
            </mat-form-field>
          </p>
          
    </div>
  </div>

  <div class="row">
    <div class="col-6">
        <mat-label>Genders</mat-label><br>
        <br>
        <mat-radio-group aria-label="Select an option " class="mt-5">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>          
    </div>

    <div class="col-6">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Roll no</mat-label>
              <input matInput placeholder="Enter rollno">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     
            </mat-form-field>
          </p>
          
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button   color="accent"  mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
 -->